In [2]:
import pandas as pd

In [5]:
originalDf = pd.read_csv('cybercola.csv', delimiter=',', on_bad_lines='skip') # We will skip the last line who is missing data and is not in correct format
originalDf.head()

,Unnamed: 0,Fecha,Pedido #,Ingresos netos (con formato),Estado,Tipo de cliente,Producto(s),Artículos vendidos,Cupón(es),Ingresos netos,Atribución,Número de factura
0,0,2024-07-15 23:53:14,66088,"40,00€",completed,returning,"3× Cybercola Light - Botella 33 cl., 1× Cyberc...",4,NaN,33.06,Fuente: Amigos+Cybercola+Barcelona,NaN
1,1,2024-07-15 23:16:02,66087,"40,01€",completed,returning,"2× Cybercola Cherry - Botella 33cl, 1× Cyberco...",4,NaN,33.06,Fuente: Amigos+Cybercola+Barcelona,NaN
2,2,2024-07-15 22:38:49,66085,"40,01€",recogida,returning,"2× Cybercola Cherry - Botella 33cl, 1× Cyberco...",4,NaN,33.06,Fuente: Amigos+Cybercola+Barcelona,NaN
3,3,2024-07-15 22:08:13,66083,"40,00€",completed,returning,"1× Cybercola Cherry - Botella 33cl, 2× Cyberco...",4,NaN,33.06,Fuente: Amigos+Cybercola+Barcelona,NaN
4,4,2024-07-15 22:00:16,66082,"40,00€",completed,returning,"3× Cybercola Light - Botella 33 cl., 1× Cyberc...",4,NaN,33.06,Fuente: Amigos+Cybercola+Barcelona,NaN

In [18]:
print(originalDf.dtypes)
# Display all unique values in the 'Estado' column
unique_values = originalDf['Estado'].unique()
unique_client_type = originalDf['Tipo de cliente'].unique()
print(unique_values)
print(unique_client_type)

Unnamed: 0                        int64
Fecha                            object
Pedido #                          int64
Ingresos netos (con formato)     object
Estado                           object
Tipo de cliente                  object
Producto(s)                      object
Artículos vendidos               object
Cupón(es)                       float64
Ingresos netos                   object
Atribución                       object
Número de factura               float64
dtype: object
['completed' 'recogida' 'refunded' 'enrutado']
['returning' 'new']

'"\nThe fields provided are\nFecha: the date of the order\nPedido #: id of the order\nIngresos netos(con formato): ---\nEstado: state of the order, it could be completed, recogida, refunded or enrutado\nTipo de cliente: \n'

The features collected are:

**Fecha**: the date of the order

**Pedido #**: id of the order

**Ingresos netos(con formato)**: ---

**Estado**: state of the order, it could be completed, recogida, refunded or enrutado

**Tipo de cliente**: type of client that makes the order, it could be returning or new

**Producto(s)**: name of products included in the order

**Artículos vendidos**: number of items sold in the order

**Cupón(es)**: 

**Ingresos netos**: 

**Atribución**:

**Número de factura**: